<!--
  ~ protocols: /Users/rherrick/Development/XNAT/1.7/plugins/protocols-plugin/src/main/resources/META-INF/resources/scripts/protocols/templates/editProtocolSettings.html
  ~ XNAT http://www.xnat.org
  ~ Copyright (c) 2017, Washington University School of Medicine
  ~ All Rights Reserved
  ~
  ~ Released under the Simplified BSD.
  -->

<div style="width:100%">
    <div class="dialogHeader">{{dialog.editProtocolSettings.labels.header}}</div>
    <br>
    <label class="protocol-label">{{labels.protocols.name}} <span ng-bind="labels.protocols.uniqueName"
                                                                                   ng-class="cachedProtocol.uniqueNameRequired"></span><span
            ng-show="cachedProtocol.nameRequired"
            style="color:#ff0000;">&nbsp;&nbsp;&nbsp;{{labels.protocols.required}}</span></label>
    <input id="protocolName" type="text" ng-model="cachedProtocol.name" style="width:90%"/>
    <br><br>
    <label class="protocol-label">{{dialog.editProtocolSettings.labels.experimentNamingTemplate.field}}</label>
    <input id="protocolExperimentNamingTemplate" type="text" ng-model="cachedProtocol.experimentNamingTemplate" style="width: 90%"/>
    <p class="validation-error" ng-show="dialog.editProtocolSettings.labels.validationErrors.experimentNamingTemplate" ng-bind="dialog.editProtocolSettings.labels.validationErrors.experimentNamingTemplate"></p>
    <p class="protocol-help" ng-bind-html="dialog.editProtocolSettings.labels.experimentNamingTemplate.directions"></p>

    <label class="protocol-label">{{labels.protocols.description}}</label>
    <textarea id="protocolDescription" ng-model="cachedProtocol.description" cols="47" rows="3"
              style="width:350px"></textarea>
</div>
