#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatImagesessiondata" *#
#* @vtlvariable name="visit" type="org.nrg.xdat.om.XnatPvisitdata" *#

#if ($!om.getVisitData())
    #set ($visit = $!om.getVisitData())
#end
#set ($subtype = "")
#if ($!om.getSubtype())
    #set ($subtype = $!om.getSubtype())
#elseif ($!om.getProtocol())
    #set ($subtype = $!om.getProtocol())
#end
#set ($vtype = $!visit.getVisitType())
#if (!$!vtype || $!vtype == "")
    #set ($vtype = "ad hoc")
#end
#if($!visit)
    <tr>
        <th align="left">Visit: </th>
        <td>$!visit.getVisitName() ($!vtype) #if($!subtype != "") - $!{subtype} #end </td>
    </tr>
#end